:root {
  --primary-color: rgb(169, 161, 201);
  --light-green: #0d7e49;
}
.App {
  font-family: "Odibee Sans", cursive;
  text-align: center;
}
.container {
  text-align: center;
  background-color: var(--light-green);
  padding: left 1rem;
  padding-right: 1rem;
  max-width: 600px;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.list {
  list-style: none;
}
.btn {
  border-radius: 1rem;
  color: blue;
  background-color: var(--primary-color);
}
.list-item {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding-bottom: 1rem;
}
